.black-border() {
  border: 2px solid black;
}

.item-component {
  .black-border;
  float: left;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;

  .name {
    font-family: cursive;
    color: darkcyan;
  }
}

.header-panel {
  .black-border;
  overflow: auto;
  height: 15%;
  margin-bottom: 20px;
}

.body-panel {
  .black-border;
  height: 80%;
}

.header-picture {
  width: 50px;
  height: 50px;
  margin: auto;
}

.create-item-form {
  margin-top: 20px;

  div {
    margin-bottom: 10px;

    input {
      width: 100%;
    }
  }
}

.error-message {
  color: red;
}