.item-component {
    float: left;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: hand;
}

.black-border {
    border: 2px solid black;
}

.header-panel {
    height: 15%;
    width: 90%;
    margin: auto;
}

.body-panel {
    height: 80%;
    width: 90%;
    margin: 20px auto;
}

.header-picture {
    width: 50px;
    height: 50px;
    margin: auto;
}