* {
  padding: 0;
  margin: 0;
  line-height: 1;
  line-height: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #3a3a3a;
}

.cursive-font() {
  font-family: cursive;
  color: darkcyan;
}

.border() {
  border: 2px solid #c0c0c0;
  border-radius: 5px;
}

.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.item-component {
  .border;
  float: left;
  min-width: 150px;
  padding: 10px;

  .name {
    .cursive-font;
    font-size: 22px;
    font-weight: 400;
    padding: 0 10px 10px;
    cursor: pointer;
  }
}

.header-panel {
  .border;
  overflow: auto;
  height: 15%;

  .bucket {
    .summary {
      .cursive-font;
    }
  }
}

.header-picture {
  width: 50px;
  height: 50px;
  margin: auto;
}

.create-item-form {
  padding: 20px;
  margin-top: 20px;
  text-align: left;
  .border;

  div {
    margin-bottom: 10px;

    input {
      width: 100%;
      padding: 5px 10px;
      border: 1px solid #c0c0c0;
      border-radius: 5px;
      margin-top: 5px;
      -webkit-box-shadow: inset -5px -5px 11px -10px rgba(0,0,0,0.75);
      -moz-box-shadow: inset -5px -5px 11px -10px rgba(0,0,0,0.75);
      box-shadow: inset -5px -5px 11px -10px rgba(0,0,0,0.75);
    }
  }
}

.error-message {
  color: red;
}

.btn {
  display: inline-block;
  margin: 5px 5px 0 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 5px 10px;
  border-radius: 5px;

  &.btn-primary {
    background-color: #0ea0eb;
    color: #f8f8f8;
    border: 1px solid #0e85ce;

    &:hover, &:active, &:focus {
      background-color: #0e85ce;
    }
  }
}

.header-panel + div {
  text-align: right;
}

.create-btn {
  margin: 20px 0;

  &:before {
    content: "+";
    font-size: 24px;
    vertical-align: sub;
    line-height: 1;
    color: #FFFFFF;
    padding-right: 5px;
  }

  &:focus {
    outline:0;
  }
}

#root {
  padding: 10px;

  .header-panel{
    min-height: 100px;
  }
}

.body-panel {
  .border;
  .clearfix;

  & > h1 {
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    padding: 10px;
    border-bottom: 1px solid #c0c0c0;
    margin: 0 20px;
  }

  & > .item-component {
    margin: 10px;

    & > .name {
      &:hover {
        font-weight: 700;
      }
    }
  }
}

.item-component {
  text-align: center!important;
  margin: 10px 10px 0 0;

  & > div {
    padding: 5px;
  }

  p {
    display: inline-block;

    &:before, &:after {
      content: "";
      padding: 0 5px;
    }

    &:before {
      content: "";
      border-left: 1px solid #c0c0c0;
    }

    &:first-child {
      &:before {
        display: none;
      }
    }
  }
}

.bucket {
  display: inline-block;
  padding: 10px;

  & > p {
    padding-bottom: 5px;

    .title {
      font-size: 18px;

      &:after {
        content: "+";
        display: inline-block;
        -webkit-transform: rotrate(45deg);
        transform: rotate(45deg);
        padding: 3px;
        font-size: 14px;
      }
    }
  }

  .summary {
    width: 100%;
    border-top: 1px solid #3a3a3a;
    padding-top: 5px;
  }
}